
{% include menu-mobile.liquid %}

<div class="" style="position:fixed;width:100%;">

  <div class="container">

    <div class="header">
      <div class="burger-menu js-show-mobile-menu burger-menu-placement">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="">
        <a href="/" class="title-md" style="text-decoration: none; line-height: .9; letter-spacing: 1px">
          Study <br> Hall
          <!-- <img src="{{ 'images/logo-study-hall.svg' | asset_url }}" style="max-width:100px;"> -->
        </a>
      </div>

    </div>
  </div>

</div>
