:root {

  --title-font: 'Julius Sans One';
  --body-font: 'Open Sans';


  --text-color: #eee;

  --black: #161616;
  --light-grey: #e1e1e1;
  --very-light-grey: #f4f4f4;
  --gold: #f1af3a;

  --unit: 20px;


}
